body {
  background-color: rgb(227, 134, 143);
  background: url('../bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font: normal 1.5em/1.58 Avenir-Book;
  color: rgb(255, 255, 255);
}

.contact {
  float: right;
  width: 33.5872395833%;
  height: 40px;
  margin: 26px 10% 0 0;
}

.container {
  width: 100%;
  height: 562px;
  margin: 0 auto;
}

.created-by {
  float: right;
  width: 100%;
  margin-top: 11px;
  font-size: 0.583em;
  line-height: 1.38;
  text-align: right;
  color: rgb(255, 255, 255);
}

.description {
  width: 80%;
  min-height: 95px;
  margin: 24px auto 0;
  font-size: 1em;
  text-align: center;
  color: rgb(255, 255, 255);
}

.description p {
  margin-bottom: 0.1em;
}

.headline {
  width: 59.25%;
  min-height: 82px;
  margin: 0 auto;
  font: 1.958em/1.28 Avenir-Black;
  text-align: center;
  color: rgb(255, 255, 255);
}

.logo {
  float: left;
  width: 24.7249348958%;
  height: 40px;
  margin: 26px 0 0 10%;
}

.text {
  margin-right: auto;
  margin-left: auto;
}

._972 {
  float: left;
  width: 88.3435582822%;
  margin-top: 3px;
  font: 1em/1.38 Avenir-Black;
  color: rgb(255, 255, 255);
}

._button {
  display: block;
  width: 226px;
  height: 60px;
  margin: 16px auto 0;
  border-radius: 3px;
  background-color: rgb(125, 207, 182);
  font: 0.917em/1.38 Avenir-Black;
  text-align: center;
  color: rgb(255, 255, 255);
}

._button:hover {
  background-color: #73c1a9;
}

._text {
  width: 12%;
  min-height: 20px;
  margin-top: 8px;
  font: 400 0.667em/1.38 Avenir;
  text-align: center;
  text-decoration: underline;
  color: #fbbcb4;
}

.container ._container {
  width: 100%;
  height: 85px;
  margin: 0 auto;
}

.text-1 {
  width: 100%;
  height: 376px;
  margin-top: 90px;
}

@media(max-width: 1000px) {
  body {
    font-size: 1.375em;
  }

  .contact .created-by {
    font-size: 0.636em;
  }

  .container .contact,
  .container .logo {
    margin-top: 19px;
  }

  .text .description {
    width: 79.9295774647%;
    margin-top: 23px;
    font-size: 22px;
  }

  .text .headline {
    width: 67.25%;
    font-size: 1.818em;
  }

  .text .text {
    margin-top: 14px;
    font-size: 0.727em;
  }

  .logo ._972 {
    font-size: 1.091em;
  }

  .text ._button {
    margin-top: 1px;
    font-size: 1em;
  }

  .container .text-1 {
    margin-top: 82px;
  }
}

@media(max-width: 568px) {
  body {
    font-size: 1.063em;
  }

  .contact .created-by {
    font-size: 0.824em;
  }

  .container .contact {
    margin-right: 9.99945%;
  }

  .container .logo {
    margin-left: 9.99945%;
  }

  .text .description {
    min-height: 79px;
    margin-top: 20px;
    font-size: 17px;
  }

  .text .headline {
    width: 80%;
    font-size: 2.059em;
  }

  .text .text {
    margin-top: 11px;
    font-size: 0.941em;
  }

  .logo ._972 {
    font-size: 1.412em;
  }

  .text ._button {
    margin-top: 3px;
    font-size: 1.294em;
  }
}

@media(max-width: 385px) {
  ._button:hover {
    background-color: #55a98f;
  }

  body {
    font-size: 1em;
  }

  .contact .created-by {
    margin-top: 13px;
    font-size: 0.875em;
  }

  .container .contact {
    width: 44.5333333333%;
    margin-right: 9.8539%;
  }

  .container .logo {
    margin-left: 9.98377%;
  }

  .text .description {
    margin-top: 10px;
    font-size: 16px;
  }

  .text .headline {
    width: 80.8%;
    font-size: 1.563em;
  }

  .text .text {
    font-size: 0.875em;
  }

  .logo ._972 {
    font-size: 1.5em;
  }

  .text ._button {
    width: 80%;
    height: 51px;
    margin-top: 23px;
    font-size: 1.25em;
  }

  .container .text-1 {
    margin-top: 62px;
  }
}